* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutUs .container-fluid {
    margin-top: 50px;
    background-image: url('Images/bkg-breadcrumbs.png');
    background-repeat: no-repeat;
    background-size: 130%;
    height: 400px;
    text-align: center;
}

#homeAbout {
    padding-top: 150px;
    font-family: sans-serif;
}

.steps-container {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    padding: 0;
}

.step-container {
    position: relative;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    animation-name: animation;
    /* animation-duration: 2s; */
}

.step-container .bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
    z-index: 0;
}

.step-container img {
    width: 100px;
    height: 100px;
}

.step-content {
    z-index: 1;
}

.step-container h2 {
    margin: 20px 0;
}

.step1 {
    background-color: #59cca6;
    animation-duration: 1s;
}

.step2 {
    background-color: #91ad41;
    animation-duration: 1.5s;
}

.step3 {
    background-color: #e3b375;
    animation-duration: 2s;
}

.step4 {
    background-color: #ef7f94;
    animation-duration: 2.5s;
}

.team p, 
.aboutUs p {
    color: #91ad41;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
}

.textContainer .meetTeam {
    font-size: 30px;
    margin-bottom: 10px;
}

.team {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.team h1 {
    margin-bottom: -15px;
}

.description {
    color: #8b8b99;
    font-size: 15px;
    padding-top: 30px;
}

.imagesContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
}

.imgContainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.imgContainer img:hover {
    filter: grayscale(70%);
}

.team h2, .developer {
    font-family: Arial;
}

.team h2 {
    color: #4f4f4f;
    font-size: 17px;
}

.developer {
    font-size: 10px;
    font-style: italic;
    padding-top: 5px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animation 2s;
}

.textContainer .description {
    max-width: 600px;
    text-align: center;
    color: #8b8b99;
}

@keyframes animation {
    0% {
      transform: translateY(50%)
    }
    100% {
      transform: translateY(0%);
    }
}

@media (max-width: 769px) {
    .aboutUs #homeAbout {
        padding-top: 100px;
    }
    .steps-container {
        display: flex;
        flex-wrap: wrap;
    }
    .step-container {
        float: left;
        width: 100%;
    }
    .step-container .bg {
        width: 300px;
        height: 300px;
    }
    .team {
        margin-top: 700px;
    }
    .team .imagesContainer {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .aboutUs #homeAbout {
        padding-top: 80px;
    }
    .steps-container {
        display: flex;
        flex-wrap: wrap;
    }
    .step-container {
        float: left;
        width: 50%; 
    }
    .step-container .bg {
        width: 300px;
        height: 300px;
    }
    .team {
        margin-top: 500px;
    }
    .team .imagesContainer {
        display: flex;
        flex-wrap: wrap;
    }
}