.corFeaturesContainer {
    width: 100%;
    background-color: #ecf1ec;
    padding: 20px;
    box-shadow: 0 0 10px rgba(174, 204, 185, 0.849);
    margin-top: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#icon{
    width: 150px;
    height: 30px;
}
@keyframes slide-in {
from {
transform: translateX(-100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}

.main-image {
    width: 50%; 
    height: auto;
    margin-top: 49px; 
    opacity: 0;
    animation: slide-in 2s forwards;

}
.text-content {
    text-align: left;
    flex: 1;
}
.core-features h4 {
    font-size: 25px;
    margin-bottom: 0px;
    color: #91ad41; 
    text-align: left; 
    font-family: "Playwrite MX", cursive;

}
.store-heading h1 {
    font-size: 36px;
    margin-bottom: 10px;
    align-items: left;

}
.store-heading img {
    margin: 20px 0;
}
.extra-text {
    color: #808080; 
    font-family: "Arial", sans-serif; 
}
.flex-container {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    margin-top: 20px;
}
.flex-item {
    text-align: left; 
    padding: 10px 0; 
    width: 100%; 
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
} 

.flex-item img.icon {
width: 60px; 
height: auto; 
margin-right: 20px; 
}


flex-item h3 {
color: #000; 
font-size: 18px; 
margin-left: 10px; 
}

.text-content {
    display: flex;
    flex-direction: column;
    width: 50%; 
}
.text-content h3 {
    color: #000; 
    font-size: 18px; 
    margin-bottom: 5px; 
    text-align: left; 

}
.text-content p {
    color: #808080; 
    font-size: 16px; 
    line-height: 1.6; 
    margin: 0; 
margin-left: 10px; 
text-align:left; 

}


@media (max-width: 768px) {
.flex-container {
flex-direction: column; 
align-items: flex-start; 
}

.flex-item {
flex-basis: 100%; 
max-width: 100%;
margin-bottom: 20px; 
}

.main-image {
width: 80%;
}

.flex-item:nth-child(odd) {
background-color: #f9f9f9; 
}

.flex-item:nth-child(even) {
background-color: #e9e9e9; 
}
}

@media (max-width: 480px) {
.flex-item h3 {
font-size: 16px; 
}

.flex-item p {
font-size: 14px; 
}

.main-image {
width: 100%; 
}

.flex-item {
padding: 15px; 
}
}